body{
	background-color: #fff;
}
/* Style for header component */
.navbar-default {
    background-color: #0d5f3d;
    border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
    color: #fff;
    font-family: 'Italiana', serif;
    font-size: 3rem;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #d9534f;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color:#eee;
    color: #d9534f;
}
/* Style for menu1- Danh mục sản phẩm */
.menu-product, .support{
    background-color: #0d5f3d;
    color: #fff;
    border-radius: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.menu-product h4, .support h4{
    margin-bottom: -5px;
}
.menu-product ul li{
	padding: 5px 0px;
}
.menu-product ul li a{
	text-decoration: none;
    color: #FFF;
}
.menu-product ul li a:hover{
	color:#FF0;
}
.support p{
	text-align:center;
	color:#f7eded;
	font-weight:bold;
}
.support .support1{
    border-bottom: 2px solid #fff;
    margin-bottom: 10px;
}
.chuchay1{
	background-color: #0d5f3d;
	color: #FFF;
	text-transform: uppercase;
	height: 40px;
	line-height: 40px;
	font-size: 24px;
	border-radius: 10px;
}
/* Style for group products */
.boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}
.box{
	width:228px;
    border:1px solid #333;
    border-radius: 10px;
    margin: 10px 15px;
}
.box a{
	text-decoration:none;
	color:#000;
}
.box a:hover{
	color:#F60;
}
.box p{
	text-align:center;
	color:#333;
	font-weight:bold;
}
.box h4{
	color:#F00;
	text-align:center;
}
.a img{
    transition-duration: 0.5s;
    border-radius: 10px;
}
.a img:hover{
    transform:scale(1.5);
 }
 .button{
	background-color:#0d5f3d;
	height:30px;
	line-height:30px;
	border-radius:5px;
	color:#FFF;
	padding:0 5px;
}
/* Style for carousel */
.carousel-caption {
    background: linear-gradient(0deg, #0d5f3d 0%, rgba(111, 196, 136, 0) 100%);
    border-radius: 10px;
}
#myCarousel{
    margin-bottom: 20px;
    margin-top: -28px;
}